{{ template "layout" . }}
{{ define "title" }} {{ .PageAttributes.PageTitle }} {{ end }}
{{ define "styles" }}
    <link href="/assets/styles/login.css" rel="stylesheet">
{{ end }}
{{ define "content" }}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ .Errors.global }}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input name="username" type="text" value="{{ .Forms.Username }}" class="form-control" placeholder="username">
                            {{ .Errors.username }}
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input name="password" type="password" value="{{ .Forms.Password }}" class="form-control" placeholder="password">
                            {{ .Errors.password }}
                        </div>
                        <div class="row align-items-center remember">
                            <input name="remember" type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <input name="csrf" type="hidden" value="{{ .Csrf }}">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{ end }}